@charset "UTF-8";



/*estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: lightslategray;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header h1{
    text-align: center;
}
menu li{
    background-color: darkgray;
    display: inline-block;
    color: white;
    padding: 10px;
}

menu ul{
    list-style-type: none;
    background-color: rgb(46, 47, 47);
}

article{
    width: 600px;
    display: block;
    margin: auto;
}